@if (modalService.visible()) {

  <!-- Success Toast -->
  @if (modalService.type() === modalType.SUCCESS) {
    <div class="toast-success" data-cy="success-toast">
      {{ modalService.message() }}
    </div>
  }

  <!-- Error Modal -->
  @if (modalService.type() === modalType.ERROR) {
    <div class="modal-backdrop" (click)="modalService.close()" data-cy="error-modal">
      <div class="modal-content error" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <p class="title error-text">Error</p>
        </div>

        <div class="modal-body">
          <p class="message">{{ modalService.message() }}</p>
        </div>

        <div class="modal-footer">
          <button class="btn-close" (click)="modalService.close()">
            Close
          </button>
        </div>
      </div>
    </div>
  }
}