.wrapper {
  display: flex;
  gap: 40px;
}

.bugs-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bugs-container.details-open {
  flex: 0.4;
}

.bugs-container.details-close {
  flex: 1;
}

.details-container.details-open {
  flex: 0.6;
}

.details-container.details-close {
  flex: 0;
  overflow: hidden;
}

.bugs-list-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 20px;
  padding-bottom: 10px;
}

.bug-card {
  background: white;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bug-card:last-child {
  border-bottom: none;
}
.pagination-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bug-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.badge-container {
  display: flex;
  gap: 6px;
}

.bug-type-badge,
.bug-status-badge {
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: var(--radius);
  font-weight: 600;
}

.type-bug {
  color: #dc2626;
  background-color: #fef2f2;
}
.type-feature {
  color: #eef2ff;
  background-color: #4f46e5;
}
.bug-status-badge {
  margin-left: 5px;
}

.status-new {
  background: #eff6ff;
  color: #2563eb;
}
.status-started {
  background: #eef2ff;
  color: #4f46e5;
}
.status-completed {
  background: #f0fdf4;
  color: #16a34a;
}
.status-resolved {
  background: #f0fdf4;
  color: #15803d;
  border-color: #bbf7d0;
}

.bug-title {
  font-size: 20px;
  line-height: 0;
}

.bug-title a {
  text-decoration: none;
  color: var(--color-primary);
}

.bug-title a:hover {
  text-decoration: underline;
}

.bug-description {
  margin: 0 0 1rem;
  color: var(--color-text-light);
  line-height: 1.5;
}

.bug-deadline {
  font-size: 0.85rem;
  color: var(--color-text-light);
}

.bug-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.empty-state {
  color: var(--color-text-light);
  padding: 1rem 0;
}
